# Covers JetBrains IDE
# --------------------
*.iml
## Directory-based project format:
.idea/
## File-based project format:
*.ipr
*.iws

# Apple junk
# ----------
## Default folder junk
.DS_Store
.AppleDouble
.LSOverride
## Icon must end with two \r
Icon
## Thumbnails
._*